.page {
  background-color: #2A2C2F;
  color: #fff;
  min-width: 320px;
  max-width: 1280px;
  min-height: 100vh;
  margin: 28px auto 24px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', 'Arial', sans-serif;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 568px) {
  .page {
    margin: 16px auto 24px;
  }
}
