.lead {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px 148px 0;
  grid-area: lead;
  width: 100%;
}

@media screen and (max-width: 1140px) {
  .lead {
    padding: 48px 48px 0;
  }
}

@media screen and (max-width: 984px) {
  .lead {
    padding: 48px 0 0;
  }
}
