.footer__link {
  padding: 0 18px 0 0;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
}

.footer__link:last-child {
  padding: 0;
}

@media screen and (max-width: 568px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
    padding: 0 0 32px 0;
  }
}
