.lead__title {
  font-weight: 900;
  line-height: 1.04;
  font-size: 96px;
  text-align: center;
  max-width: 720px;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 984px) {
  .lead__title {
    max-width: 720px;
  }
}

@media screen and (max-width: 760px) {
  .lead__title {
    font-size: calc(40px + (88 - 40) * ((100vw - 331px) / (760 - 331)));
    max-width: 610px;
  }
}

@media screen and (max-width: 330px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 1.1;
  }
}



