.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 568px) {
  .footer__copyright {
    line-height: 1;
    margin: 48px 0 0 0;
  }
}
