.lead__image {
  max-width: 984px;
  object-fit: contain;
  margin: 64px 0 0 0;
  padding: 0;
  min-width: 100%;
  border: none;
}

@media screen and (max-width: 1140px) {
  .lead__image {
    margin: 56px 0 0 0;
    max-width: 928px;
  }
}

@media screen and (max-width: 984px) {
  .lead__image {
    width: 100%;
  }

@media screen and (max-width: 568px) {
  .lead__image {
    margin: 40px 0 0 0;
  }
}
