.places__place {
  display: grid;
  grid-template-columns: minmax(460px, 1fr) minmax(min-content, max-content);
  grid-template-rows: minmax(min-content, max-content) minmax(460px, 1fr);
  column-gap: 40px;
  row-gap: 48px;
  margin: 80px auto 0;
  max-width: 100%;
}

.places__place:first-child {
  margin: 0 auto;
}

@media screen and (max-width: 1140px) {
  .places__place {
    grid-template-columns: minmax(440px, 1fr) minmax(min-content, max-content);
    grid-template-rows: minmax(min-content, max-content) minmax(440px, 1fr);
    column-gap: 32px;
  }
}

@media screen and (max-width: 984px) {
  .places__place {
    grid-template-columns: minmax(340px, 1fr) minmax(min-content, max-content);
    grid-template-rows: minmax(min-content, max-content) minmax(340px, 1fr);
    column-gap: 28px;
    margin: 73px auto 0;
  }
}

@media screen and (max-width: 631px) {
  .places__place {
    display: flex;
    flex-direction: column;
    column-gap: 0;
    row-gap: 0;
    margin: 50px 0 0;
  }
}
