.places__place {
  display: grid;
  grid-template-columns: minmax(460px, 1fr) minmax(min-content, max-content);
  grid-template-rows: minmax(min-content, max-content) minmax(460px, 1fr);
  column-gap: 40px;
  row-gap: 48px;
  margin: 80px auto 0;
  max-width: 100%;
}

.places__place:first-child {
  margin: 0 auto;
}
