.cover__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05;
  text-align: center;
  max-width: 560px;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 568px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}
